@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0;

  background-color: #25367c;
}


audio::-webkit-media-controls-panel {
  color: #25367c;
  background-color: rgb(219 39 119);
}

#wrapper {
  position: relative;
}

#wrapper::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.33;
  background-image: url(./coldplay.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#content_container {
  position: relative;
}